.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: block;
    padding: 0 15px;
    position: relative;
}

@media(min-width: 1440px) {
    .container {
        max-width: 1200px;
    }
}

@media(max-width: 1440px) {
    .container {
        max-width: 1220px;
    }
}

@media(max-width: 768px) {
    .container {
        padding: 0 12px;
    }
}